/*modify from bootstrap*/

.row {
  margin: 10px 0px;
}

.accordion-item {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

.accordion-button.collapsed {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #18a367;
  background-color: rgba(24, 163, 101, 0.08);
  outline: rgba(24, 163, 101, 0.08);
  outline-color: rgba(24, 163, 101, 0.08);
  outline-style: initial;
  outline-width: initial;
  box-shadow: none;
}

.accordion-collapse,
.accordion-body {
  margin-top: 0px !important;
}

.input-group-text {
  background-color: #fff!important;
}

input[type='text'].form-control {
  font-style: italic!important;
  color: #18a367!important;
}




/*original style*/
.show {
  display: flex;
}

.hide {
  display: none!important;
}

.margin-top {
  margin-top: 15px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-bottom {
  margin-bottom: 15px !important;
}

code {
  color: #000;
}

code i {
  color: #18a367;
}

.codestyle {
  font-size: .875em!important;
  word-wrap: break-word!important;
}

.errormsg,
.errormsg-set {
  margin-top: 5px;
  text-align: right;
  font-size: 10px;
  color: red;
  display: block;
}

.querytype {
  width: 100%;
  height: 100px;
}

.selectColumn {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FlexForWhere {
  display: flex;
}

.FlexForWhere button.btn {
  margin-right: 15px;
}

.FlexForWhere button {
  margin-right: 10px;
}

.addromovebtn {
  border: none;
  background: none;
  font-size: 11px;
}